.card {
	background-color: #fce4ec;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5rem;
	padding: 1rem;
	max-width: 300px;
	min-height: 632px;
	box-shadow: 0 1px 1.5px 0 rgb(242, 139, 201);
	transition: all 0.2s ease-in-out;
}

.cardMax {
	background-color: #fce4ec;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0.5rem;
	padding: 1rem;
	max-width: 1200px;
	width: 80%;
	box-shadow: 0 1px 1.5px 0 rgb(242, 139, 201);
	transition: all 0.2s ease-in-out;
}

.card:hover {
	box-shadow: 1px 1px 5px 1px rgb(242 139 201);
	cursor: pointer;
	scale: 1.05;
}
.cardImage {
	display: flex;
	flex: 0.25;
	width: 100%;
	height: 200px;
}
.cardContent {
	display: flex;
	flex: 0.6;
	width: -webkit-fill-available;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px;
}

.cardName {
	width: 80%;
	font-size: 1.2rem;
	color: #212121;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cardDescription {
	font-size: 0.9rem;
	color: #212121;
}
.cardPrice {
	font-size: 1.5rem;
	color: #212121;
	font-weight: bold;
}
.cardStock {
	font-size: 1rem;
	color: #212121;
}
.cardButtonContainer {
	display: flex;
	flex: 0.15;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.cardButtonPlus,
.cardButtonMinus {
	background-color: #fff;
	border: 1px solid #212121;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.cardButtonMinus:hover,
.cardButtonPlus:hover {
	background-color: #ec66bf;
	color: rgb(0, 0, 0);
}

.cardButtonMinus:disabled,
.cardButtonPlus:disabled {
	background-color: #eee;
	color: #ffffff;
	cursor: not-allowed;
}
input {
	text-align: center;
}
.cardInput {
	background-color: #fff;
	border: 1px solid #212121;
	width: 2rem;
	height: 2rem;
	font-size: 1rem;
	margin: 0 0.5rem;
}
